<div class='row'>
    <div class='col-md-6 form'>
      <a routerLink="/">Home</a>
      <p>Edit this author: </p>
      <form (submit)='onUpdate($event,authorForm)' #authorForm="ngForm">
          <div class='form-group'>
              <label for="">Name:</label>
              <input class='form-control' type="text" value='{{ author?.name }}' name="name" [ngModel]="author?.name" (ngModelChange)="author.name = $event" required>

            </div>
          <button class="btn btn-warning">Cancel</button>
          <button class="btn btn-success float-right" >Submit</button>
        </form>
    </div>
  </div>
