.box{
    border: 1px solid black;
    width: 250px;
    height: 250px;
    margin: 0 auto 20px auto;
    border-radius: 25px;
    background-color: #66B2FF;
    padding: 10px;
}
.inner-box-content{
    opacity: 0;
}
.active{
    opacity: 1;
}
.gray{
    width: 250px;
    height: 250px;
    background-color: #5e5e5e;
}
#hundred{
    margin-top: 90px;
    border: none;
    background-color: transparent;
    font-size: 40px;
}
.c{
    font-size: 10px;
    width: 150px;
}
h5{
    padding: 20px 40px;
    background-color: #FFFFCC;
    margin: 20px 0;
}