<div class="row">
  <div class="col-md-12 text-center">
    <h3>{{ weather?.name }}, CA</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="weather-info-list">
      <li>Humidity: {{ weather?.humidity }}</li>
      <li>Temperature (Average): {{ weather?.temp }}</li>
      <li>Temperature (High): {{ weather?.temp_max }}</li>
      <li>Temperature (Low): {{ weather?.temp_min }}</li>
      <li>Status: {{ weather?.description }}</li>
    </ul>
  </div>
  <div class="col-md-6">
    <img src="https://as1.ftcdn.net/jpg/01/09/28/48/500_F_109284839_0fIxKXXaoIWG2cqNCBKIePiXeUzUa59Q.jpg" alt="burbank" width="250" height="150">
  </div>
</div>
