<div class='row'>
    <div class='col-md-6 form'>
      <a routerLink="/">Home</a>
      <p>Add a new auther: </p>
      <form (submit)="onSubmit($event, authorForm)" #authorForm = 'ngForm'>
          <div class='form-group'>
              <label for="">Name</label>
              <input class='form-control' type="text" name="name"
                [(ngModel)]='author.name'
                required
                #name='ngModel'
                minlength='2'>

              <div *ngIf='(name.touched || name.dirty) && name.errors'>
                <div *ngIf='name.errors.required'>
                  You must enter a name.
                </div>
                <div *ngIf='name.errors.minlength'>
                  Name must be more than {{ name.errors.minlength.requiredLength}} characters. {{ name.errors.minlength.actualLength }} characters is not enough.
                </div>
              </div>
            </div>
          <button class="btn btn-warning">Cancel</button>
          <button *ngIf='authorForm.valid' class="btn btn-success float-right" >Submit</button>
        </form>
    </div>
  </div>
