<app-task-new (createTask)='onCreate($event)'></app-task-new>


<section>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">All the tasks</legend>
    <ul *ngFor='let task of tasks' (click)='onSelect(task)'>
      <li>{{ task.title }} - {{ task.description }}
        <button (click)='onDelete($event, task)'>Delete</button>
        <button (click)='onEdit($event, task)'>Edit</button>
      </li>
    </ul>
  </fieldset>
</section>


<app-task-details [task]='selectedTask'></app-task-details>
