<div class="row">
  <div class="col-md-12 text-center">
    <h3>{{ weather?.name }}, WA</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="weather-info-list">
      <li>Humidity: {{ weather?.humidity }}</li>
      <li>Temperature (Average): {{ weather?.temp }}</li>
      <li>Temperature (High): {{ weather?.temp_max }}</li>
      <li>Temperature (Low): {{ weather?.temp_min }}</li>
      <li>Status: {{ weather?.description }}</li>
    </ul>
  </div>
  <div class="col-md-6">
    <img src="https://as1.ftcdn.net/jpg/00/40/92/74/500_F_40927421_uM8lgQuEhuPetbCl7jbYKYCFo2LkxNli.jpg" alt="seattle" width="250" height="150">
  </div>
</div>
