<div class='row'>
  <div class='col-md-6'>
    <a routerLink="author/new">Add an author</a>
    <p>We have quotes by:</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Author</th>
          <th>Actions Available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of authors" (click)='onEdit(data)'>
          <td>{{ data.name }}</td>
          <td>
            <ul>
              <li><button [routerLink]="['author', data._id]">edit</button></li>
              <li><button (click)='onDelete($event, data)'>delete</button></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
