<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>Quoting Dojo</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8 text-center wrapper">
                <h1>Welcome to Quoting Dojo</h1>
                <form action="/quotes" method="POST">
                    <div class="inner">
                        <div class="form-group row push">
                            <label for="name">Your name:</label>
                            <div class="col-sm-6">
                            <input type="text" name= "name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row push">
                            <label for="quote" >Your quote:</label>
                            <div class="col-sm-6">
                            <textarea name= "quote" cols="32" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-success">Add my quote!</button>
                        <a href="/quotes" class="btn btn-primary">Skip to quotes!</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>